<mdl-list-item lines="3" (click)="toggleItem(item)">
	<mdl-list-item-primary-content>
		 <span class="mdl-color-text--primary">{{item.title}}</span>
		 <mdl-list-item-text-body>{{item.explanation}}</mdl-list-item-text-body>
	</mdl-list-item-primary-content>
	<mdl-list-item-secondary-content>
		 <mdl-list-item-secondary-action>
				<mdl-checkbox mdl-ripple [(ngModel)]="item.selected" (click)="clickCheckbox($event)" [cmItem]="item"></mdl-checkbox>
		 </mdl-list-item-secondary-action>
	</mdl-list-item-secondary-content>
</mdl-list-item>