
.main-content-container{
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.router-outlet{
    flex-grow: 1;
}