<mdl-layout mdl-layout-fixed-header>
   <mdl-layout-header>
      <mdl-layout-header-row>
         <mdl-layout-title (click)="gotoHome()">{{title}}</mdl-layout-title>
         <mdl-layout-spacer></mdl-layout-spacer>
      </mdl-layout-header-row>
   </mdl-layout-header>
   <mdl-layout-content class="main-content-container">
      <div class="main-content">
         <div class="router-outlet">
            <router-outlet></router-outlet>
         </div>
         <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section" class="main-footer">
               <ul class="mdl-mini-footer__link-list">
                  <li> <a routerLink="/imprint">Impressum</a></li>
               </ul>
            </div>
         </footer>
      </div>
   </mdl-layout-content>
</mdl-layout>

