.no-drawer{
    padding-left: 22px;
}
mdl-layout-title{
    cursor: pointer;
}
.main-content-container {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.router-outlet{
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}
