<div class="mdl-grid mdl-grid--no-spacing">

   <div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <h5>Angular 2 Kurs zusammenstellen</h5>
      <p>Stellen Sie sich hier ihren persönlichen Kurs zusammen. Jeder Kurs dauert 2 Tage.
         Pro Block wird ein Tag benötigt. Aus folgenden Blöcken können Sie wählen:</p>
   </div>

   <div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <mdl-list>
         <mdl-list-item lines="3" *ngFor="let item of items" mdl-ripple (click)="toggleItem(item)">
            <mdl-list-item-primary-content>
               <span>{{item.title}}</span>
               <mdl-list-item-text-body>{{item.explanation}}</mdl-list-item-text-body>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-content>
               <mdl-list-item-secondary-action>
                  <mdl-checkbox mdl-ripple [(ngModel)]="item.selected" (click)="clickCheckbox($event)"></mdl-checkbox>
               </mdl-list-item-secondary-action>
            </mdl-list-item-secondary-content>
         </mdl-list-item>
      </mdl-list>
   </div>


   <div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <p>Senden Sie uns ihren Kurswunsch. Wir setzen uns mit ihnen in Verbindung um Details zu besprechen.</p>
   </div>

   <div class="mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <p>Teilen Sie uns bitte noch die Anzhal der Teilnehmer und eine Kontaktmöglichkeit mit.</p>
      <mdl-textfield type="text" label="Kontakt (Telefon oder Email)" [(ngModel)]="contact" floating-label></mdl-textfield>
      <br/>
      <mdl-textfield type="number" label="Anzahl Teilnehmer" error-msg="Bitte geben Sie eine Zahl ein." [(ngModel)]="countOfAttendies" floating-label></mdl-textfield>
   </div>

   <div class="mdl-cell--12-col button-row mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple disabled>Senden</mdl-button>
   </div>

</div>